<div class="center">
  <h1><strong><i>CLIENTE ELIMINADO</i></strong></h1>
</div>
<div class="center">
    <h1>La cuenta del cliente ha sido borrada satisfactoriamente, por favor redirigirse a la panatalla principal</h1>
</div>
<br/>
<br/>
<div class="center">
 {{#link-to 'index'}}
   <button class="btn waves-effect waves-light" type="submit" name="action">Vovler a la página principal
     <i class="material-icons right">arrow_back</i>
   </button>
 {{/link-to}}
 </div>

{{outlet}}
