
<style media="screen">
  body{
    background-image: url("../maxresdefault.jpg");
    webkit-background-size: cover;
  }
  #footer-wrapper{
    background-color: black;
  }
  .center{
    color: white;
  }
</style>
<nav class="navigation">
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li>
        {{#Link-to 'client.index'}}
          <a href="#" class="brand-logo"><img src="../logo.jpg" alt=""></a>
        {{/Link-to}}
      </li>
    </ul>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        {{#Link-to 'client.registerclient'}}
          Crear Cliente
        {{/Link-to}}
      </li>
      <li>
        {{#Link-to 'client.readclient'}}
          Leer Cliente
        {{/Link-to}}
      </li>
      <li>
        {{#Link-to 'client.editclient'}}
          Editar Cliente
        {{/Link-to}}
      </li>
      <li>
        {{#Link-to 'client.deleteclient'}}
          Borrar Cliente
        {{/Link-to}}
      </li>
      <li>
        {{#Link-to 'index'}}
          logout
        {{/Link-to}}
      </li>
    </ul>
  </div>
</nav>

<h1 class="center">WELCOME TO THE CINE OF MEDELLÍN</h1>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<footer id="footer-wrapper" class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l4 s12">
        <h4 class="white-text">Información</h4>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Teléfono: 2346794</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Email: ColCine@cinemaColombia.com</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Dirección: calle 34 # 12-32</a></li>
        </ul>
      </div>
      <div class="col l4 offset-l2 s12">
        <h4 class="white-text">¿Quiénes somos?</h4>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Únete al equipo</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Próximas aperturas</a></li>
        </ul>
      </div>
      <div class="col l4 offset-l2 s12">
        <h4 class="white-text">Legales</h4>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Términos y condiciones</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Política y privacidad</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Estatuto del consumidor</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2018 Copyright Text
    </div>
  </div>
</footer>

{{outlet}}
