<style media="screen">
  body{
    background-image: url("../maxresdefault.jpg");
    webkit-background-size: cover;
  }
</style>
<nav class="navigation">
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li>
        <a href="#" class="brand-logo"><img src="../logo.jpg" alt=""></a>
      </li>
    </ul>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        {{#Link-to 'client.registerclient'}}
          Register client
        {{/Link-to}}
      </li>
      <li>
        {{#Link-to 'client.readclient'}}
          Read client
        {{/Link-to}}
      </li>
      <li>
        {{#Link-to 'client.editclient'}}
          Edit client
        {{/Link-to}}
      </li>
      <li>
        {{#Link-to 'client.deleteclient'}}
          Delete client
        {{/Link-to}}
      </li>
    </ul>
  </div>
</nav>

<h1 class="center"><font color=white>WELCOME THE CINE OF MEDELLÍN</font></h1>
<h1>ewioeiw</h1>
<h1>poeowpeo</h1>
<h1>pwoepwoe</h1>
<h1>pooweopwo</h1>
<h1>poewpeo</h1>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2014 Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
{{outlet}}
